*{
    margin: 0;
    padding: 0;
}
.container{
    width: 450px;
    height: 450px;
    background-color: rgb(54, 46, 66);
    color: #fff;
    bottom: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
border-radius: 30px;

}
.container 
input{
width: 60px;
font-size: 20px;
margin: 10 10px;
padding: 50px;
border: none;
outline: none;
}
.container label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}
.container input:hover{
    background: rgb(206, 197, 197);
    color: #fff;
}
button{
background-color: rgb(187, 35, 15);
width: 50px;
border: none;
outline: none;
font-size: 20px;

}